.rounded-selector.active {
    background-color: #337ab7 !important;
    color: white !important;
}
.rounded-selector {
    border-radius: 20px;
    border: 1px solid #337ab7;
    padding: 5px;
    margin: 3px;
    float: left;
    background: white;
}
a {
    color: #337ab7;
    text-decoration: none;
   background-color: transparent;
}